@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
}

p {
  color: hsl(201, 11%, 66%);
  font-size: 0.8rem;
  line-height: 1.3rem;
}

header {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@layer base {
  h1,
  h2,
  h3 {
    @apply text-dark-Grayish-Blue;
  }
}

@media (max-width: 576px) {
  header {
    background-image: url("../images/bg-header-mobile.png");
  }
}

@media (min-width: 1280px) {
  p {
    color: hsl(201%, 11%, 96%);
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
